<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RestAssureTest">

    <test name="REST_Assure_Get_Call">
        <classes>
            <class name="com.qa.test.REST_Assure_Get_Call" />
            <class name="com.qa.test.REST_Assure_Post_Call" />
        </classes>
    </test>

</suite>